protobuf ==  3.19
streamlit==1.11.1
numpy~=1.23.3
pandas~=1.4.4
openpyxl
plotly~=5.10.0
streamlit-drawable-canvas
leafmap~=0.10.5
streamlit-folium
extra-streamlit-components
folium~=0.12.1.post1
requests~=2.28.1
setuptools~=57.4.0